* {
	box-sizing: border-box;
}
@font-face {
	font-family: light;
	src: url('../fonts/AntennaCond-Light.otf');
}
@font-face {
	font-family: regular;
	src: url('../fonts/AntennaCond-Regular.otf');
}
@font-face {
	font-family: medium;
	src: url('../fonts/AntennaCond-Medium.otf');
}
@font-face {
	font-family: xlight;
	src: url('../fonts/AntennaCond-ExtraLight.otf');
}

.nav {
	background: rgba(101, 101, 101, 1);
	min-height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 0 auto 0 auto;
}
.small-nav {
	display: none;
}
.big-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 1024px;
}
.nav-elements {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 800px;
}
.logo {
	width: 150px;
	height: auto;
	margin-right: 25px;
}
.dropbtn {
	color: white;
	border: none;
	background: none;
	letter-spacing: 1px;
	font-family: regular;
	font-size: 16px;
	padding: 0;
	outline: none;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	margin-top: 0.2vw;
	display: none;
	position: absolute;
	background-color: rgba(101, 101, 101, 0.8);
	min-width: 160px;
	z-index: 1;
	letter-spacing: 1px;
	font-family: regular;
	font-size: 16px;
}
.dropdown-content a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {
	text-decoration: none;
	color: white;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.icon {
	height: 23px;
}
.fb {
	height: 2vh;
	width: auto;
}
.pin {
	height: 2.2vh;
	width: auto;
}
.dropdown-pin {
	display: flex;
	flex-direction: column;
	margin-right: 3vh;
	margin-left: 1.5vh;
	align-items: flex-end;
}
.address {
	padding: 1vw;
	margin-top: 3.5vw;
	margin-left: 5vw;
	display: none;
	position: absolute;
	background-color: #9cb4b4;
	color: white;
	min-width: 160px;
	z-index: 1;
	letter-spacing: 1px;
	font-family: regular;
	font-size: 1vw;
}
.address:hover {
	color: #4d7979;
	text-decoration: underline;
}
.strip {
	height: 5px;
	background: white;
}

.content {
	min-height: 90vh;
	margin-top: 0.5vw;
	margin-bottom: 0.5vw;
}
.header {
	display: flex;
	overflow-x: hidden;
	justify-content: center;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 100vh;
	max-height: 900px;
}
.girls {
	height: 100%;
	width: auto;
	transform: scale(1.6) translate(-7vw, -15vh);
}
.headliner {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 160px;
	margin-top: 120px;
}
.line1 {
	font-family: xlight;
	color: white;
	font-size: 50px;
	line-height: 1;
	margin-bottom: 15px;
}
.line2 {
	font-family: light;
	color: white;
	font-size: 100px;
	line-height: 1;
	margin-bottom: 25px;
}
.blurb {
	font-family: xlight;
	color: #4d7979;
	font-size: 25px;
	width: 90%;
	text-align: center;
	margin-bottom: 40px;
}
.eq-row {
	display: flex;
	flex-direction: row;
}
.eq {
	margin-right: 10px;
	margin-left: 10px;
	width: auto;
	height: 220px;
}

.explore {
	background: #4c7c7c;
	padding: 30px;
}
.explore-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 768px;
	margin: 0 auto 0 auto;
}
.explore-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.explore-item a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.explore-photo {
	width: 150px;
	height: auto;
}
.explore-title {
	font-family: xlight;
	color: white;
	margin-top: 10px;
	font-size: 24px;
}
.explore-desc {
	font-family: xlight;
	color: white;
	width: 80%;
	text-align: center;
	font-size: 21px;
}

.videos {
	display: flex;
	align-items: center;
	overflow: hidden;
	justify-content: center;
	padding: 30px;
}
.top {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.msg {
	font-family: regular;
	font-size: 30px;
	margin-bottom: 20px;
}
.bg-video {
	width: 100%;
	position: absolute;
	z-index: -1;
}
.smallplayer {
	display: none;
}

.doctor {
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-self: center;
	padding-top: 20px;
}
.doctor-name {
	color: white;
	font-size: 30px;
	font-family: regular;
}
.doctor-desc {
	color: white;
	font-size: 20px;
	font-family: xlight;
	line-height: 1.7em;
}
.doctor-more {
	color: #4c7c7c !important;
	font-size: 20px;
	font-family: xlight;
	text-decoration: underline;
}
.sean {
	height: 350px;
	width: auto;
}
.doctor-more:hover {
	color: #4c7c7c;
	font-family: xlight;
	text-decoration: underline;
}

.carousel {
	padding: 0 !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}
.container {
	width: 100% !important;
	margin: 0 !important;
	margin-right: 0 !important;
	padding: 0 !important;
}
.carousel-inner,
.item.active,
.carousel.slide {
	width: 100% !important;
}
.carousel-item {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-self: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.carousel-name {
	color: black;
	font-size: 30px;
	font-family: regular;
}
.carousel-desc {
	color: grey;
	font-size: 20px;
	font-family: xlight;
	line-height: 1.7em;
}
.carousel-more {
	color: #4c7c7c !important;
	font-size: 20px;
	font-family: xlight;
	text-decoration: underline;
}
.carousel-img {
	height: 300px;
	margin-left: 80px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
	height: 100px;
	width: 100px;
	outline: black;
	background-size: 100%, 100%;
	border-radius: 50%;
	border: 1px solid black;
	background-image: none;
}
.carousel-img.pods {
	height: 300px;
	margin-left: 90px;
	margin-right: 100px;
}

.ADA {
	overflow: hidden;
	background-image: url('../img/bg-ada.jpg');
	background-attachment: fixed;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 20px 0;
	align-items: center;
}
.ADA a {
	color: white;
	text-decoration: underline;
}
.ADA a:hover {
	color: white;
}
.icon-ada {
	height: 160px;
	width: auto;
}
.ada-blurb {
	display: flex;
	flex-direction: column;
	margin-left: 40px;
}
.ada-blurb h3 {
	font-family: regular;
	color: white;
	font-size: 30px;
}
.ada-blurb p {
	font-family: xlight;
	color: white;
	font-size: 20px;
	line-height: 1.7em;
}

.services {
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.service-chunk {
	margin: 0 auto 0 auto;
}
.services h1 {
	font-size: 30px;
	color: black;
	font-family: regular;
}
.services .thing-they-do {
	font-size: 25px;
	color: #4d7979;
	font-family: xlight;
	text-decoration: underline;
	margin-bottom: 0.5vw;
}
.services a:hover {
	color: #4d7979;
}
.service-row {
	display: flex;
	flex-direction: row;
}
.c1,
.c2 {
	display: flex;
	flex-direction: column;
}
.c2 {
	margin-left: 60px;
}
.services h2 {
	font-size: 25px;
	color: grey;
	font-family: xlight;
	margin-bottom: 20px;
}
.tel {
	color: #4d7979;
	text-decoration: underline;
}

.apts {
	background: #d4e4e4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 20px;
}
.apts h1 {
	font-family: regular;
	color: black;
	font-size: 30px;
}
.apts p {
	font-family: xlight;
	color: black;
	font-size: 20px;
}
.apts a {
	color: #4d7979;
	text-decoration: underline;
}
.apts a:hover {
	color: #4d7979;
	text-decoration: underline;
}
.apts button {
	border: none;
	font-size: 20px;
	font-family: xlight;
	color: white;
	background-color: #4c7c7c;
	padding: 5px;
	width: 120px;
	margin-top: 20px;
}

.footer {
	background: #343434;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	padding-bottom: 40px;
}
.footer-columns {
	display: flex;
	flex-direction: row;
	width: 1000px;
	justify-content: center;
}
.column {
	display: flex;
	flex-direction: column;
	margin: 20px;
}
.column a {
	color: white;
	font-size: 15px;
	font-family: xlight;
	margin-bottom: 4px;
}
.column a:hover {
	color: white;
}
.column a:first-child {
	font-family: regular;
}
.footer-bottom {
	display: flex;
	color: white;
	justify-content: space-between;
	width: 800px;
	align-items: center;
}
.footer-bottom p {
	color: grey;
	font-family: light;
}
.footer-bottom .site {
	color: white;
	font-family: light;
	margin-left: 20px;
}
.bottom-left {
	display: flex;
	font-size: 15px;
}
.bottom-left a {
	color: white;
	font-family: light;
	font-size: 15px;
}
.mailing-list {
	display: flex;
	background-color: black;
	align-items: center;
	padding: 10px;
}
.mailing-list p {
	font-family: light;
	color: white;
	font-size: 15px;
	margin: 0;
}
.mailing-list button {
	border: none;
	background-color: grey;
	font-family: light;
	color: white;
	font-size: 15px;
	margin-left: 20px;
	padding: 4px;
	width: 80px;
}
@media only screen and (max-width: 1024px) {
	.small-nav {
		display: none;
	}
	.nav {
		min-height: 7vw;
	}
	.big-nav {
		width: 80vw;
	}
	.nav-elements {
		width: 70vw;
	}
	.logo {
		width: 120px;
		height: auto;
		margin-right: 20px;
	}
	.dropbtn {
		font-size: 12px;
	}
	.dropdown-content {
		display: none;
		font-size: 15px;
	}
	.address {
		margin-left: 0vw;
		font-size: 15px;
		margin-top: 5vw;
	}
	.headliner {
		margin-left: 130px;
		margin-top: 150px;
	}
	.blurb {
		font-size: 25px;
		width: 100%;
	}
	.eq {
		width: 220px;
		height: auto;
	}
	.girls {
		transform: scale(1.6) translateY(-10vh) translateX(-7vw);
	}

	.sean {
		height: 350px;
		width: auto;
	}
}

@media only screen and (max-width: 768px) {
	html,
	body {
		overflow-x: hidden;
	}
	.nav {
		height: 100px;
	}
	.small-nav {
		display: flex !important;
		flex-direction: row;
		align-items: center;
	}
	.logo {
		width: 250px;
		margin-right: 60px;
	}
	.hamburger {
		width: 35px;
		height: auto;
	}
	.hamburger-menu-bottom {
		display: flex;
		margin-left: 35%;
	}
	.dropdown {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	.dropdown-content-small {
		margin-top: 70px;
		display: none;
		position: absolute;
		background-color: #4d7979;
		opacity: 0.8;
		z-index: 1;
		letter-spacing: 1px;
		font-family: regular;
		font-size: 25px;
		margin-right: 50%;
		height: 450px;
		width: 350px;
		padding-top: 20px;
	}
	.dropdown-content-small a {
		color: white;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: center;
	}
	.dropdown-content-small a:hover {
		color: white;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: center;
	}
	.small-nav {
		display: block;
	}
	.big-nav {
		display: none;
	}
	.girls {
		transform: scale(1.1) translate(13vw);
	}
	.eq-row {
		display: none;
	}
	.line1 {
		font-size: 70px;
	}
	.line2 {
		font-size: 100px;
	}
	.blurb {
		font-size: 30px;
		width: 100%;
	}
	.headliner {
		margin: 60px auto 0 auto;
	}
	.explore-row {
		flex-direction: column;
		justify-content: center !important;
		align-items: center;
		width: 500px;
	}
	.explore-photo {
		width: 80%;
	}
	.explore-title {
		font-size: 50px;
	}
	.explore-desc {
		font-size: 30px;
		margin-bottom: 20px;
	}
	.explore {
		padding: 7vw;
	}
	.largeplayer {
		display: none;
	}
	.msg {
		display: none;
	}
	.smallplayer {
		display: flex;
	}

	.sean {
		width: 35vw;
		height: auto;
	}
	.doctor {
		padding: 2vw;
		padding-bottom: 0;
		flex-direction: column;
		align-items: center;
	}
	.doctor-name {
		color: white;
		font-size: 4vw;
		font-family: regular;
	}
	.doctor-desc {
		color: white;
		font-size: 3vw;
		font-family: xlight;
		line-height: 1.7em;
		margin: 0;
	}
	.doctor-more {
		color: #4c7c7c !important;
		font-size: 3vw;
		font-family: xlight;
		text-decoration: underline;
	}
	.carousel {
		height: 70vw;
		justify-content: center;
	}
	.carousel-inner {
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
	}
	.carousel-name {
		margin-top: 0;
		margin-bottom: 1vw;
		font-size: 4vw;
	}
	.carousel-item {
		flex-direction: column;
		align-items: center !important;
		padding: 3vw;
		height: 90%;
	}
	.carousel-img {
		margin: 0;
		height: 25vw;
		margin-top: 5vw;
	}
	.carousel-img.pods {
		margin: 0;
		height: 25vw;
	}
	.carousel-desc {
		margin: 0;
		font-size: 3vw;
	}
	.carousel-more {
		font-size: 3vw;
	}
	.ADA {
		flex-direction: column;
		padding: 8vw;
	}
	.ADA h3,
	.services h1,
	.apts h1 {
		margin-top: 2vw;
		font-size: 4vw;
		margin-bottom: 1vw;
	}
	.ADA p,
	.apts p {
		font-size: 3vw;
		margin-bottom: 0;
	}
	.icon-ada {
		height: 20vw;
	}
	.services,
	.apts {
		padding: 3vw;
	}
	.services .thing-they-do {
		font-size: 3vw;
	}
	.service-row {
		flex-direction: column;
	}
	.c2 {
		margin: 0;
	}
	.services h2 {
		font-size: 3vw;
	}
	.apts p {
		width: 49%;
	}
	.apts button {
		font-size: 3vw;
		width: auto;
		padding: 1vw 2vw;
	}
	.footer {
		padding: 5vw;
	}
	.footer-columns {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.column {
		margin: 1vw;
	}
	.column a {
		font-size: 2vw;
	}
	.footer-bottom {
		flex-direction: column-reverse;
		margin-top: 3vw;
	}
	.footer-bottom p,
	.footer-bottom a {
		font-size: 2vw;
	}
	.mailing-list {
		margin-bottom: 2vw;
		padding: 1vw 2vw;
	}
	.mailing-list p,
	.mailing-list button {
		font-size: 2vw;
	}
	.mailing-list button {
		padding: 1vw 2vw;
		width: auto;
	}
}
@media only screen and (max-width: 414px) and (max-height: 850px) {
	html,
	body {
		overflow-x: hidden;
	}
	.nav {
		height: 40px;
	}
	.small-nav {
		display: flex !important;
		flex-direction: row;
		align-items: center;
	}
	.logo {
		width: 150px;
		margin-right: 7vw;
	}
	.hamburger {
		width: 25px;
		height: auto;
	}
	.hamburger-menu-bottom {
		display: flex;
		margin-left: 25%;
	}
	.dropdown {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	.dropdown-content-small {
		margin-top: 45px;
		display: none;
		position: absolute;
		background-color: #4d7979;
		opacity: 0.8;
		z-index: 1;
		letter-spacing: 1px;
		font-family: regular;
		font-size: 20px;
		height: 400px;
		width: 200px;
	}
	.dropdown-content-small a {
		color: white;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: center;
	}
	.small-nav {
		display: block;
	}
	.big-nav {
		display: none;
	}
	.girls {
		transform: scale(1.1) translate(16vw);
	}
	.eq-row {
		display: none;
	}
	.line1 {
		font-size: 40px;
		margin-bottom: 5px;
	}
	.line2 {
		font-size: 60px;
		margin-bottom: 5px;
	}
	.blurb {
		font-size: 20px;
		width: 100%;
	}
	.headliner {
		margin: 20vw auto 0 auto;
	}
	.explore-row {
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}
	.explore-photo {
		width: 70%;
	}
	.explore-title {
		font-size: 25px;
	}
	.explore-desc {
		font-size: 20px;
	}
	.explore {
		padding: 7vw;
	}
	.largeplayer {
		display: none;
	}
	.msg {
		display: none;
	}
	.smallplayer {
		display: flex;
	}
	.videos {
		display: flex;
		align-items: center;
		overflow: hidden;
		justify-content: center;
		padding: 15px;
	}
	.top {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	.sean {
		width: 200px;
		height: auto;
	}
	.doctor {
		padding: 2vw;
		padding-bottom: 0;
		flex-direction: column;
		align-items: center;
	}
	.doctor-name {
		color: white;
		font-size: 18px;
		font-family: regular;
	}
	.doctor-desc {
		color: white;
		font-size: 16px;
		font-family: xlight;
		line-height: 1.7em;
		margin: 0;
	}
	.doctor-more {
		color: #4c7c7c !important;
		font-size: 16px;
		font-family: xlight;
		text-decoration: underline;
	}
	.carousel {
		height: 400px;
	}
	.carousel-inner {
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
	}
	.carousel-name {
		margin-top: 0;
		margin-bottom: 1vw;
		font-size: 18px;
	}
	.carousel-item {
		flex-direction: column;
		align-items: center !important;
		padding: 3vw;
		height: 90%;
	}
	.carousel-img {
		margin: 0;
		height: 140px;
		margin-top: 5vw;
	}
	.carousel-img.pods {
		margin: 0;
		margin-top: 25px;
		height: 160px;
	}
	.carousel-desc {
		margin: 0;
		font-size: 16px;
	}
	.carousel-more {
		font-size: 16px;
	}
	.ADA {
		flex-direction: column;
		padding: 8vw;
	}
	.ada-blurb {
		margin-left: 0;
	}
	.ADA h3,
	.services h1,
	.apts h1 {
		margin-top: 30px;
		font-size: 18px;
		margin-bottom: 1vw;
	}
	.ADA p,
	.apts p {
		font-size: 16px;
		margin-bottom: 0;
	}
	.icon-ada {
		height: 100px;
	}
	.services,
	.apts {
		padding: 3vw;
	}
	.services .thing-they-do {
		font-size: 16px;
	}
	.service-row {
		flex-direction: column;
	}
	.c2 {
		margin: 0;
	}
	.services h2 {
		font-size: 16px;
	}
	.apts p {
		width: 70%;
	}
	.apts button {
		font-size: 16px;
		width: auto;
		padding: 7px 15px;
		margin-bottom: 20px;
	}
	.footer {
		padding: 5vw;
	}
	.footer-columns {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.column {
		margin: 1vw;
	}
	.column a {
		font-size: 14px;
	}
	.footer-bottom {
		flex-direction: column-reverse;
		margin-top: 3vw;
	}
	.footer-bottom p,
	.footer-bottom a {
		font-size: 14px;
	}
	.mailing-list {
		margin-bottom: 2vw;
		padding: 1vw 2vw;
	}
	.mailing-list p,
	.mailing-list button {
		font-size: 14px;
	}
	.mailing-list button {
		padding: 1vw 2vw;
		width: auto;
	}
}

@media only screen and (max-height: 414px) and (max-width: 850px) {
	html,
	body {
		overflow-x: hidden;
		width: 100%;
	}
	.nav {
		height: 40px;
	}
	.small-nav {
		display: flex !important;
		flex-direction: row;
		align-items: center;
	}
	.fb {
		height: 20px;
		width: auto;
	}
	.pin {
		height: 20px;
		width: auto;
	}
	.logo {
		width: 150px;
		margin-right: 7vw;
	}
	.hamburger {
		width: 25px;
		height: auto;
	}
	.hamburger-menu-bottom {
		display: flex;
		margin-left: 25%;
	}
	.dropdown {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	.dropdown-content-small {
		margin-top: 45px;
		display: none;
		position: absolute;
		background-color: #4d7979;
		opacity: 0.8;
		z-index: 1;
		letter-spacing: 1px;
		font-family: regular;
		font-size: 20px;
		height: 400px;
		width: 200px;
	}
	.dropdown-content-small a {
		color: white;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: center;
	}
	.small-nav {
		display: block;
	}
	.big-nav {
		display: none;
	}
	.girls {
		transform: scale(1.6) translateY(-14vh) translateX(-7vw);
	}
	.eq-row {
		display: none;
	}
	.line1 {
		font-size: 40px;
		margin-bottom: 5px;
	}
	.line2 {
		font-size: 60px;
		margin-bottom: 5px;
	}
	.blurb {
		font-size: 20px;
		width: 100%;
	}
	.headliner {
		margin: 80px 0 0 150px;
	}
	.explore-row {
		flex-direction: row;
		justify-content: center;
		width: 100%;
	}
	.explore-photo {
		width: 70%;
	}
	.explore-title {
		font-size: 25px;
	}
	.explore-desc {
		font-size: 20px;
	}
	.explore {
		padding: 7vw;
	}
	.largeplayer {
		display: none;
	}
	.msg {
		display: none;
	}
	.smallplayer {
		display: flex;
	}
	.videos {
		display: flex;
		align-items: center;
		overflow: hidden;
		justify-content: center;
		padding: 15px;
	}
	.top {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	.sean {
		width: 200px;
		height: auto;
	}
	.doctor {
		padding: 2vw;
		padding-bottom: 0;
		flex-direction: row;
		align-items: center;
	}
	.doctor-name {
		color: white;
		font-size: 18px;
		font-family: regular;
		margin-top: 0;
	}
	.doctor-desc {
		color: white;
		font-size: 16px;
		font-family: xlight;
		line-height: 1.7em;
		margin: 0;
	}
	.doctor-more {
		color: #4c7c7c !important;
		font-size: 16px;
		font-family: xlight;
		text-decoration: underline;
	}
	.carousel {
		height: 300px;
	}
	.carousel-inner {
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
	}
	.carousel-name {
		margin-top: 0;
		margin-bottom: 1vw;
		font-size: 20px;
	}
	.carousel-item {
		flex-direction: row;
		align-items: center !important;
		padding: 3vw;
		height: 90%;
	}
	.carousel-img {
		margin: 0;
		height: 140px;
		margin-top: 5vw;
		margin-left: 60px;
	}
	.carousel-img.pods {
		margin: 0;
		margin-top: 25px;
		height: 160px;
		margin-left: 100px;
	}
	.carousel-desc {
		margin: 0;
		font-size: 18px;
	}
	.carousel-more {
		font-size: 16px;
	}
	.ADA {
		flex-direction: row;
		padding: 20px;
	}
	.ada-blurb {
		margin-left: 0;
	}
	.ADA h3,
	.services h1,
	.apts h1 {
		margin-top: 10px;
		font-size: 18px;
		margin-bottom: 1vw;
	}
	.ADA p,
	.apts p {
		font-size: 16px;
		margin-bottom: 0;
	}
	.icon-ada {
		height: 100px;
		margin-right: 50px;
	}
	.services,
	.apts {
		padding: 3vw;
	}
	.services .thing-they-do {
		font-size: 16px;
	}
	.service-row {
		flex-direction: column;
	}
	.c2 {
		margin: 0;
	}
	.services h2 {
		font-size: 16px;
	}
	.apts p {
		width: 90%;
	}
	.apts button {
		font-size: 16px;
		width: auto;
		padding: 7px 15px;
		margin-bottom: 20px;
	}
	.footer {
		padding: 5vw;
	}
	.footer-columns {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.column {
		margin: 1vw;
	}
	.column a {
		font-size: 14px;
	}
	.footer-bottom {
		flex-direction: column-reverse;
		margin-top: 3vw;
	}
	.footer-bottom p,
	.footer-bottom a {
		font-size: 14px;
	}
	.mailing-list {
		margin-bottom: 2vw;
		padding: 1vw 2vw;
	}
	.mailing-list p,
	.mailing-list button {
		font-size: 14px;
	}
	.mailing-list button {
		padding: 1vw 2vw;
		width: auto;
	}
}
